html {
    font-family: "Lucida Sans", sans-serif;
    font-size: 12px;
  }

#output, footer {
  padding: 15px;
  font-size: 1.5em;
}
@media only screen and (max-width: 768px) {

html {
    text-align: center;
}